[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CatEncoders"]
	path = CatEncoders
	url = https://github.com/cran/CatEncoders
[submodule "dblr"]
	path = dblr
	url = https://github.com/cran/dblr
